.Parent-icon {
  background-color: rgb(35, 37, 37);
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.Icon-styles {
  color: rgb(165, 156, 156);
  font-size: 50px !important;
}
.Icon-styles:hover {
  background-color: rgb(21, 21, 20);
  color: rgb(255, 255, 255);
  padding: 5px;
  transition: 0.1s;
  display: block;

  border-radius: 5px;
}
.Icon-name {
  color: white;
  display: block;
  font-weight: bold;

  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .Parent-icon {
    background-color: rgb(55, 52, 52);
    display: flex;
    justify-content: space-around;
    padding: 10px 2px;
  }
  .Icon-styles {
    font-size: 25px !important;
  }
  .Icon-styles:hover {
    padding: 1px;
    font-weight: 900;
    box-sizing: border-box;
    box-shadow: -5px 5px 2px teal;
  }
  .Icon-name {
    display: none;
  }
}
